
<!-- <app-slider [nombre]="'Bienvenido...!'" [size]="'big'">


</app-slider> -->



<app-article
    [article_guitarra]="guitarra"
></app-article>


      <!-- <div id="articles">
            <article class="article-item" *ngFor="let guitarra of guitarraService.guitarras">
                <div class="image-wrap">
                    <img src="{{guitarra.imagen}}" alt="{{ guitarra.marca }}">
                </div>
                <h4>{{guitarra.modelo}}</h4>
                <span class="date">
                    {{ 'ID:'+guitarra.id }} <br>
                    {{ 'Marca:'+guitarra.marca }} <br>
                    {{ 'Color:'+guitarra.color }} <br>
                    {{ 'Peso:'+guitarra.peso }} <br>
                    {{ 'Largo:'+guitarra.largo }}<br>
                    {{ 'Ancho:'+guitarra.ancho }}<br>
                    {{ 'Numero de Cuerdas:'+guitarra.numCuerdas }}<br>
                </span>
                <a href="#">Leer mas</a>
                <div class="clearfix"></div>
            </article>	
            </div>	 -->