<app-slider
      [nombre]="'Modifica una guitarra'"
      [size]="'small'"
      
></app-slider>

<h2>Guitarras</h2>

<div *ngIf="guitarras.length >= 1">
    hay muchas guitarras en el array
    <div id="articles" *ngIf="guitarras">
        
            <article class="article-item" *ngFor="let guitarra of guitarras; let i = id">
                <div class="image-wrap">
                    <img src="{{guitarra.imagen}}" alt="{{guitarra.marca}}">
                </div>
                <h2>{{guitarra.modelo}}</h2>
                <span class="date">
                    {{guitarra.id}}
                </span>
                <a href="#">Leer mas</a>
                <div class="clearfix"></div>
            </article>	
      
       
        </div>	
</div>



