

body{
text-align: center;
background: white;
font-family: sans-serif;
margin:0px;
padding: 0px;

}

#header{
	margin:0px;
	height: 110px;
	width: 100%;
	background:#febaad;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #605D5D;
}

#logo{
	margin:0px;
	width:30%;
	font-size:80px;
	float: left;
	margin-top: 32px;
}

.app-logo{
	display: block;
	float: left;
	height: 60px;
	margin-top: 32px;
	animation:girar infinite 30s linear;
}

@keyframes girar{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
#brand{
	display: block;
	margin:0px;
	margin-left: 5px;
	margin-top: 48px;
	font-size:30px;
	float: left;
}
.center{
	width: 85%;
	margin:0px auto;
}
.clearfix{
	clear: both;
	float: none;
}
#Menu{
	width: 70%;
	float: right;
	margin-top: 30px;

	background: #febaad;

}


#Menu ul{
	margin-left: 2px;
	width: 60%;
	float: right;
	
	
}
#Menu ul li {
		display: inline-block;
		list-style:none;
		height: 90%;
		margin-left: 5px;
		margin-right: 10px;
		


}

#Menu a{
	text-decoration: none;
	color: black;
	transition:300ms all;
	font-size: 19px;
}
#Menu a:hover,
.active{
		color: white !important;
	}
	
	



.slidder-big{
	width: 100%;
	background: #3A67E6;
	height: 350px;
	padding: 35px;
	line-height: 320px;
	color: white;
	text-shadow: 0px 0px 5px #444;
		background: #7d7e7d; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.slidder-small{
	width: 100%;
	background: #3A67E6;
	height: 100px;
	padding: 5px;
	line-height: 50px;
	color: white;
	font-size: 14px;
	text-shadow: 0px 0px 5px #444;
		background: #7d7e7d; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.slidder-small h1{
	margin:0px;
	padding: 15px;
	text-align: center;
	font-size: 25px;
}


#content{
	width: 70%;
	float: left;
	
	min-height: 650px;
	margin-right: 20px;
}

#sidebar{
	width: 25%;
	float: right;
	margin: 0 auto;

	
}

.sidebar-item{
	background: #f7f7f7;
	padding: 20px;
	margin-top: 30px;
	
}
.sidebar-item h3{
	text-transform: uppercase;
	font-size: 16px;
	margin: 0px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 3px solid #eee;
}

.sidebar-item .btn{
	
	margin: 0px auto;
	line-height: 10px;
}
.btn{
	display: block;
	background: black;
	color: white;
	padding:0px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	transition: 30ms all;
	border: none;
	max-width: 120px;
}
.btn-white{
	display: block;
	background: white;
	color: black;
	float: right;
	margin-right: 120px;
	padding-top:10px;
	line-height: 5px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	transition: 30ms all;
	border: none;
	width: 80px;
	height: 25px;
}

.btn-success{
	background: #00FD36;
}
.btn-success:hover{
	background: #030303;
}

input[type="text"] {
	width: 100%;
	height: 20px;
	border: 1px solid #ccc;
	padding:4px;
	margin-bottom: 5px;
}
input[type="text"]:focus{
	box-shadow: 0px 0px 5px #eee inset;
}
#contenedor_tabla{
	margin-left: 20%;
}
.container_menu_formulario{
	width: 20%;
	margin-left: 10px;
}


.mid-form{
	width: 100%;
	margin:0px auto;
}
.card-content_a{
	text-align: left;
	display: block;
	float: left;
	margin-bottom: 5px;
	font-size: 17px;
	margin-top: 10px;
}
.mid-form label{
	text-align: left;
	display: block;
	float: left;
	margin-bottom: 5px;
	font-size: 17px;
	margin-top: 10px;
}

.radiobuttons{
margin-top: 15px;
float: left;
margin-bottom: 15px;
display: block;
}

#footer{
	background: #f7f7f7;
	width: 100%;
	height: 70px;
	line-height: 65px;
	color: #444;
}
#footer p{
	margin:0px;
	padding: 0px; 
	background: #eee;
}

.article-item{
	width: 100%;
	border-bottom:  1px solid #eee;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 35%;
	text-align: left;	
}
.article-item .image-wrap{
	width: 130px;
    height: 200px;
    overflow: hidden;
	float: left;

	
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 20px;
    border: 1px solid #eee;
}

.article-item .image-wrap img{
	height: 100%;
	box-shadow: white;
	border-radius:15px;
	text-align: center;
}
.article-item h2{
	display: block;
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin-bottom: 7px;
}
.article-item .date{
	display: block;
	width: 50%;
	font-style: inherit;
	
	color:#000000;
}

.article-item a{
	display: block;
	color:#444;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 18px;
}
.article-item a:hover{
	text-decoration: underline;
}
.subheader{
	font-size: 39px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.article-item-detail .image-wrap{
	float: none;
	width: 100%;
	height: 300px;
}
.article-item-detail .image-wrap img{
	width: 30%;

}

.article-item-detail .subheader{
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
}



/* RESPONSIVE*/
@media (max-width:508px) {
	.center{
		width: auto;	
	}
	#logo{
		float: none;
		width: 240px;
		margin:0px auto;
	}
	#menu{
		width: 	60%;
	}

#content{
	width: 100%;
	float: none;
	
	min-height: 650px;
	margin-right: 20px;
}

#sidebar{
	width: 100%;
	float: none;
	background: blue;
	
}
	
	
	
}

@media (max-width:1262px) {
	.center{
		width: 85%;	
	}
	#menu{
		width: 	60%;
	}
	
	
}

@media (max-width:400px) {
		#content{
		float: none;
		width: 100%;
		background: red;
	}

	#sidebar{
		float: none;
		width: 60%;
		margin:0px auto;
		margin-bottom: 50px;
	}

	
}



